@import url('https://fonts.googleapis.com/css?family=Hind+Guntur|Questrial');
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #d9d9d9;
  font-family: 'Questrial', sans-serif;
  background: #f7f6f6;
}

.navbar {
  background: #3d405b !important;
  border-bottom: 2px solid #fff;
}

.banner img {
  width: 100%;
}

.banner-content {
  position: absolute;
  top: 6em;
  left: 10%;
}

.banner-content a {
  color: #3d405b;
}

.banner {
  /* background: url('../images/banner.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 420px;
  vertical-align: middle; */
}

.banner .banner-text {
  color: #fff;
  font-weight: lighter;
  font-family: 'Questrial', sans-serif;
}

.footer {
  color: #fff;
  font-weight: bold;
  background: #3d405b;
  padding: 20px;
  text-align: center;
}

.color-gold {
  color: #f4eb49 !important;
}
